.main-buy{
    @extend %mixin-card;
}

.main-buy-title{
    display: block;
    padding: 25px;
    padding-top: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.76px;
    color: #4D4D4D;
}

.main-buy-menu-item{
    .header-select{
        position: relative;
        width: 180px;
        height: 40px;
        border: 2px solid #F5F5F5;
        margin: 7px;
    }
}

.main-buy-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-buy-menu-item{
    width: 500px;
    padding: 40px 10px;
    svg{
        margin: 0 65px;
    }
    align-items: center;
}


.main-buy-menu-item2{
    width: 250px;
    padding: 40px 10px;
    svg{
        margin: 0 65px;
    }
    align-items: center;
}

.main-buy-item-title{
    margin-top: 15px;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    color: #808080;

}


.form-item{

}

.form-item-title{
    align-items: center;
    padding: 15px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    color: #808080;
}

.form-item-inp{
    width: 180px;
    margin: 7px;
    height: 40px;
    align-items: center;
    border: 2px solid #F5F5F5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    &:hover{
        color: $blue;
    }
}

.pay-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

